<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>Person Identification using audio</title>
	
	<link rel="stylesheet" href="static/styles/main.css">
	
</head>
<body>
  <div id="audiocontainer">
   <h1>input an audio</h1>
   <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <br>
    <input type="submit" name="submit">
   </form>

    
	</div>

</body>
</html>